# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go vendor directory (if you use vendoring)
#vendor/

# Dependency directories (Go Modules)
go.sum

# OS junk
.DS_Store
*.swp

# Logs
*.log

# VS Code settings
.vscode/

# Prevents the media files from being pushed to the repository
# but keeps the .gitkeep file for directory structure
/media/*
!/media/.gitkeep